@import "_variables";

.header {
  // Hamburger Open Styles

  &.open {
    .overlay {
      animation: fade-in-background 300ms ease-out forwards;
    }
    .header__toggle {
      position: relative;
      z-index: 1000;
      > span:first-child {
        transform-origin: 5px 2px;
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform-origin: 6px 2px;
        transform: rotate(-45deg);
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 3rem);
    height: 100%;
    left: 50%;
    top: 0px;
    transform: translateX(-30%);
    background: $offWhite;
    margin: 0px 1.5rem;
    padding: 0.825rem;

    a {
      position: relative;
      display: block;
      color: $veryDarkBlue;
      padding: 0.625rem;
      text-align: left;
      top: 150px;
    }

    &::first-line {
      color: $softOrange;
    }
  }

  .overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: $veryDarkBlue;
  }

  nav {
    background-color: $offWhite;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__toggle {
    // Mobile menu toggle
    //mobil menu

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $veryDarkBlue;
      transition: all 200ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      font-size: $font-med;
      color: $darkGraishBlue;
      transition: color 150ms ease-in-out;

      &:not(:last-child) {
        margin-right: 50px;
      }

      &:hover {
        color: $softOrange;
      }
    }
  }

  &__logo {
    text-align: right;
    font-family: Inter;
    font-weight: 400;
  }
}
