.hero {
  &__image {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  &__text {
    text-align: center;

    h1 {
      color: $veryDarkBlue;
      text-align: left;
      font-weight: 800;
    }

    p {
      line-height: 1.5;
      text-align: left;
    }
  }
}
