.sidebar {
  @include breakpoint-up(large) {
    grid-area: sidebar;
  }
  position: relative;
  background-color: $veryDarkBlue;
  left: 0;
  padding: 30px;
  height: 100%;

  h2 {
    color: $softOrange;
    font-family: Inter, sans-serif;
    font-size: 42px;
    text-align: left;
    margin-top: 0px;
  }

  a {
    color: $offWhite;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    padding-top: 40px;

    &:hover {
      color: $softOrange;
    }
  }

  p {
    color: $darkGraishBlue;
    font-family: Inter, sans-serif;
    font-size: 21px;
    text-align: left;
    font-weight: 400;

    &:not(:last-child) {
      padding-bottom: 40px;
      border-style: groove;
      border-width: 1px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-color: $darkGraishBlue;
    }
  }
}
