.story {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column: 2/3;
  padding: 20px;

  @include breakpoint-down(medium) {
    padding-left: 0px;
    grid-template-columns: 1fr 3fr;
  }

  &:last-child {
    padding-right: 0px;
  }

  &__1 {
    grid-area: story1;
  }

  &__2 {
    grid-area: story2;
  }

  &__3 {
    grid-area: story3;
  }

  h2 {
    color: $grayishBlue;
    font-family: Inter, sans-serif;
    font-size: 32;
    vertical-align: top;
    margin: 0px;
    padding-bottom: 10px;
  }

  &__image {
    grid-column: 1/2;

    width: 100%;
    height: 100%;
  }

  &__text {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__links {
    color: $veryDarkBlue;
    font-size: 23px;
    font-weight: 800;

    &:hover {
      color: $softRed;
    }

    @include breakpoint-down(medium) {
      font-size: 20px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1;

    @include breakpoint-down(medium) {
      font-size: 15px;
    }
  }
}
